@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply pb-8 text-3xl font-semibold leading-[67.20px] sm:text-4xl;
  }
  .footer-item {
    @apply flex flex-col;
  }

  .footer-item h5 {
    @apply pb-5 text-xl font-semibold text-zinc-900;
  }

  .footer-item a {
    @apply pb-2 text-base text-[#756C65] hover:underline;
  }
}
